.App {
  text-align: center;
  height: 100%;
}
#root {
  height: 100%;
}
:root {
  --primary-color: #E9EEF7;
  --secondary-color: black;
  --third-color: #F8F6FA;
  --forth-color: #d0d0d0;
}

.main-div {
  height: 100%;
}

.right-box {
  position: absolute;
  padding: 25px;
  width: 275px;
  left: 1135px;
  top:75px;

  background-color: #219653; /* red background for demo purposes */
  border-radius: 5px;
}

.right-box::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -10px;
  margin-top: -5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 10px solid #219653; /* same color as the background */
}

.right-box-third {
  position: absolute;
  padding: 25px;
  width: 275px;
  left: 165px;
  top:5px;

  background-color: #219653; /* red background for demo purposes */
  border-radius: 5px;
}

.right-box-third::before {
  content: "";
  position: absolute;
  top: 40%;
  left: -10px;
  margin-top: -5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 10px solid #219653; /* same color as the background */
}

.dark-theme{ 
  --primary-color: black;
  --secondary-color: white;
  --third-color: #151515;
  --forth-color: #4a4a4a;
}

.darkmodeButton {
  height: 30px;
  width: 30px;
  cursor: pointer;
  margin-left: 30px;
}

.text {
  color:var(--secondary-color);
}

.header{
  height: 200px;
  width: 100%;
  background-color : var(--primary-color);
  padding-top: 50px;
  color: var(--secondary-color);
}

.darkmodeButton {
  display: flex;
  justify-self: flex-start;
}

.footer {
  background-color: #CFF3D5;
}
.card-container{
  height: 300px;
  width: 300px;
  box-shadow: 0px 3px 50px #89fdb0;
}

.card-wrapper{
  width: 270px; 
  min-height: 250px;
  height: 300px; 
  box-shadow: 0px 3px 50px var(--forth-color);
  display: flex;
  flex-direction: column;
}

.card-top{
  width: 100%;
  height: 2%;
}

.task-holder{
  width: 100%;
  height: 98%;
  padding: 10px 10px;
  display : flex;
  flex-direction: column;
  position: relative;
}

.card-header {
  word-wrap: break-word;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow-y: hidden;
  height: auto;
  width: auto;
  padding: 1px 1px !important;
  text-align: center;
 
}

.close-tutorial {
  padding: 5px 10px;
  border: 2px solid #fff;
  background-color: #333;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.close-tutorial:hover {
  background-color: #fff;
  color: #333;
}

.top-box {
  position: absolute;
  padding: 25px;
  width: 375px;
  z-index: 9999;
  /* left: 435px;
  top:-35px; */
  top: 70px;
  left: 500px;

  background-color: #219653; /* red background for demo purposes */
  border-radius: 5px;
}
.top-box::before {
  content: "";
  z-index: 9999;
  position: absolute;
  bottom: -10px; /* align with the bottom of the box */
  left: 10px; /* adjust the distance from the button */
  border-top: 10px solid #219653; /* same color as the background */
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
}

.task-container{
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--third-color);
  padding : 40px 100px;
  justify-content: space-around;
}